* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
  border: 2px solid goldenrod;
  border-radius: 5px;
}

.hiden {
  display: none;
  border: none;
}

.gallery {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  padding: 7px;
  gap: 10px
}

.gallery img {
  width: 289px;
  height: 200px;
}

.info {
  display: flex;
  margin: 0;
  padding: 0 15px;
  justify-content: space-around;
  text-align: center;
}
.info-item {
  margin: 0;
  max-width: 55px;
}
.info-item b {
  font-weight: 600;
  font-size: 13px;
}
.info-span {
  font-weight: 400;
  font-size: 11px;
}
